*.swo
*.swp
*.kpf
*.nfs*
.cache
.project
.settings
Thumbs.db  
.DS_Store
.buildpath
.kde*
*.kdev4
*~
.directory
*.pidaproject
.tags
~*
nbproject  
.externalToolBuilders*
*_gsdata_*
vendor/*  
*.idea
build/* 
